body {
    text-align: center;
    font-family: 'Quicksand';
}

header {
    height:20vh;
    margin-bottom:1%;
}

#headerbg {
    position:relative;
    height:17vh;
    background-image: url(./resources/codebg2.PNG);
    background-size:cover;
    filter: blur(4.5px);
    background-position: 3%;
    z-index: 1;
}

h1 {
    position:absolute;
    top:0;
    left:10%;
    margin: 0;
    padding:0;
    font-size: 48px;
    z-index:3;
    width:80%;
    letter-spacing: 8px;
    line-height: 18vh;
    font-family: 'Permanent Marker';
}

h2 {
    padding:0;
    margin:0;   
}

.boxLink {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 46.35vh);
    grid-template-rows: 36vh 36vh;
    gap: 2% 1%;
}

.box {
    position:relative;
    box-shadow: 5px 5px 8px 1px lightsteelblue;
    overflow: hidden;
    padding: 5%;
    height: 32vh;
    width: 41.715vh;
}

#mobBox {
    display: none;
}

#box8::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  #box8::-webkit-scrollbar-track {
    background: aliceblue;        /* color of the tracking area */
  }

    #box8::-webkit-scrollbar-thumb {
        background-color: lightblue;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid lightblue;  /* creates padding around scroll thumb */
      }

#box8 {
    font-size: 12px;
    letter-spacing:1px;
    text-align:justify;
    box-shadow: none;
    overflow: auto;
    display:inline;
}

#box2::after, #box4::after, #box5::after, #box7::after {
    font-size: 28px;
    display:flexbox;
    line-height:60vh;
    position:absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:aliceblue;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    transform: rotate(20deg);
    font-family: "Permanent Marker";
}

#box2::after {
    content: 'My Story';
    background-image: url(./resources/mystory.png);
}

#box4::after {
    content: 'Read French';
    background-image: url(./resources/readfrench.png);
}

#box5::after {
    content: 'Book Collage';
    background-image: url(./resources/bookcollage2.png);
}

#box7::after {
    content: 'Clock';
    background-image: url(./resources/clock.png);
}

#box2:hover::after, #box4:hover::after, #box5:hover::after, #box7:hover::after {
    transform: translate(100%, 100%);
    transition: transform 500ms linear;
}

#box2:hover, #box4:hover, #box5:hover, #box7:hover {
    box-shadow: 0px 0px 8px 2px lightblue;
    transition: box-shadow 250ms linear;
}

.firstChar {
    font-size:36px;
    font-family: 'Permanent Marker';
}

/* MEDIA QUERY FOR LANDSCAPE MOBILE */
@media screen and (orientation:landscape) and (max-width: 992px) {
    h1{
        padding-top:2%;
        font-size: 30px;
        line-height: 8vh;
    }
    h2 {
        margin-left:40vw;
        font-size:16px;
    }
    header {
        height:15vh;
        padding-bottom:3%;
    }

    #headerbg {
        height:15vh;
    }

    .container{
        grid-template-columns: 1fr;
        gap:1%;
        grid-template-rows: repeat(4,auto);
    }
    .box {
        width:90%;
    }
    #mobBox {
        display: inline;
        height:auto; 
        padding:1% 3%;
        width:90vw;
        text-align: justify;
        font-size: 12px;
        box-shadow: none;
    }
    #box8{
        display: none;
    }
    #box2, #box4, #box5, #box7 {
        min-height:45vh;
        width:86vw;
        border: 1px solid gainsboro;
    }
    #box7 {
        margin-bottom:5%;
    }
    #box2 p, #box4 p, #box5 p, #box7 p {
        margin-left: 40vw;
        font-size:14px;
    }
    #box2::after, #box4::after, #box5::after, #box7::after {
        height:70%;
        width:45%;
        line-height:100vh;
        transform:rotate(12deg);
        background-color: white;
    }
}

/* MEDIA QUERY FOR PORTRAIT MOBILE */
@media screen and (max-width: 500px) {
    h1{
        padding-top:2%;
        font-size: 20px;
        line-height: 11vh;
        letter-spacing: 4px;
    }
    header {
        height:10vh;
        margin-bottom:4%;
    }
    #headerbg {
        height:10vh;
    }
    .container{
        grid-template-columns: 1fr;
        gap:0.5%;
        grid-template-rows: repeat(8,auto);
    }
    .box {
        width:90%;
    }
    #mobBox {
        height:auto; 
        padding:1% 3%;
        width:90vw;
        display:inline;
        text-align: justify;
        font-size: 12px;
        box-shadow: none;
        margin-bottom: 10%;
    }
    #box8 {
        display: none;
    }
    #box2, #box4, #box5, #box7 {
        padding-top:42vh;
        height:34vh;
        width:84vw;
        border: 1px solid gainsboro;
        box-shadow: 5px 5px 8px 1px lightsteelblue;
    }
    #box2::after, #box4::after, #box5::after, #box7::after {
        height:51%;
        width:110%;
        line-height:66vh;
        transform:rotate(12deg);
    }
}