:root {
    font-family: 'Source Code Pro';
    font-size:1.5vw;
    text-align: center;
    letter-spacing:-1px;
    overflow-y: hidden;
    overflow-x:hidden;
}

#bodyContainer {
    position:fixed;
    top:0;
    left: 0;
    margin: 0;
    min-height:100vh;
    min-width:100vw;
    background-image: url('./bg5.png');
    background-size:100% 100%;
    z-index:1;
}

/* THE OUTER FORM BORDER */
#VBform {
    width:75%;
    height:80%;
    background-color: #b6d3ec;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    border-radius: 1%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5rem 1fr;
    justify-items: center;
    align-items:flex-end;
    padding-bottom:0.5rem;
    margin-left:8%;
    margin-top:7.5%;
}

/* THE CONTAINER FOR THE FORM HEADER */
#VBheaderContainer{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom:0.1rem;
}

/* CONTAINS 'File1' AND ASSOCIATED IMAGE */
#VBheader{
    width:100%;
    height:1.2rem;
    display:inline-flex;
    justify-content:flex-start;
    align-content:center;
    padding-top:0.1rem;
}

/* THE ICON NEXT TO 'File1' */
#VBheader img {
    width:1rem;
    height:1rem;
    padding-left:0.75rem;
}

/* THE 'File1' TEXT */
#VBheader p {
    margin-top:0;
    padding-left: 0.3rem;
    padding-top:0.15rem;
    font-family: 'Microsoft Sans Serif';
    font-size:0.8rem;
}

/* THE CONTAINER FOR THE WINDOW ICONS IN THE HEADER */
#windowIconsDiv {
    display:inline-flex;
    justify-content:flex-end;
    align-content:center;
}

/* THE WINDOW ICONS IMAGE  */
#windowIcons {
    height:1.2rem;
    width:auto;
    padding-right:0.6rem;
}

/* THE LARGE DOTTED AREA THAT MAKES UP THE MAIN FORM SPACE */
#innerVBform {
    width:98.5%;
    height:100%;
    background-color: #FFF;
    background-image: radial-gradient(circle, #000000 1%, transparent 10%), radial-gradient(circle, #000000 1%, transparent 10%);
    background-size: 10px 10px;
    border:1px solid powderblue;
    background-position: 0 0, 50px 50px;
    display:grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2.5rem 1fr;
    column-gap: 1rem;
    grid-template-areas: "header header" "photos story";
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    overflow: hidden;
}

#storyHeader{
    grid-area: header;
}

/* TEXT WHICH IS WRITTEN WITH A 'TYPEWRITER' EFFECT ON LAUNCH */
#storyText1 {
    width:42rem;
    font-size:1.5rem;
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    overflow: hidden;
    opacity:1;
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: -1px;
    animation:  animated-text 2s steps(50,end) 1,
                animated-cursor 600ms steps(50, end) infinite,
                fadeOut 1s normal 35s 1 forwards;
}

/* STORYTEXT1 TYPEWRITER TEXT ANIMATION */
@keyframes animated-text{
    from{width:0;}
    to{width: 42rem;}
}

/* STORYTEXT1 CURSOR ANIMATION */
@keyframes animated-cursor{
    from{border-right-color: rgba(0, 255, 0, 0.75);}
    to{border-right-color: transparent;}
}

/* CONTAINER OF THE IMAGES WHICH ACCOMPANY THE STORY */
#storyPhotosDiv{ 
    grid-area: photos;
    height:65vh;
    width:75%;
    overflow:hidden;
    margin:0 auto;
}

/* SETS SHARED IMAGE PROPERTIES OF THE IMAGES WHICH ACCOMPANY THE STORY */
#storyPhotosDiv img {
    width:22vw;
}

.storyPhotos {
    position:absolute;
    overflow:hidden;
    height:0;
    justify-self: center;
}

#storyPhotos1 {
    animation:  imgScroll 2s normal forwards,
                imgScroll 1s reverse 6s forwards,
                imgScroll 1s normal 37s forwards;
}

#storyPhotos2 {
    padding-top: 2%;
    animation:  imgScroll 2s normal 7s forwards,
                imgScroll 1s reverse 10s forwards;
}

#storyPhotos3 {
    padding-top:6%;
    animation:  imgScroll 2s normal 11s forwards,
                imgScroll 1s reverse 15s forwards;
}

#storyPhotos4 {
    padding-top:5%;
    animation:  imgScroll 2s normal 16s forwards,
                imgScroll 1s reverse 20s forwards;
}

#storyPhotos5 {
    padding-top:1%;
    animation:  imgScroll 2s normal 21s forwards,
                imgScroll 1s reverse 33s forwards;
}

/* ANIMATION WHICH MAKES A PHOTO MOVE INTO VIEW */
@keyframes imgScroll {
    0% {height:0;}
    100% {height:65vh;}
}

@keyframes storyScroll {
    0% {height:0%;}
    100% {height:100%;}
}

/* DIV WHICH CONTAINS THE BULLET POINTS OF THE STORY */

#storyBulletsDiv {
    position: relative;
    height:100%;
    width:100%;
    grid-area: story;
    font-size:1.3vw;
    text-align: left;
}

#storyBullets {
    height:100%;
    width:100%;
    position:absolute;
    animation: fadeOut 1s normal 36s forwards;
}

#fullStoryDiv {
    height:100%;
    width:95%;
    position:absolute;
    opacity:0;
    animation: fadeIn 1s normal 37s forwards;
    font-size: 1.2vw;
    text-align: justify;
}

#storyBullet1 {
    opacity: 0;
    animation:  fadeIn 2s normal 4s 1 forwards;
}

#storyBullet2 {
    opacity: 0;
    animation:  fadeIn 2s normal 7s 1 forwards;
}

#storyBullet3 {
    opacity: 0;
    animation:  fadeIn 2s normal 11s 1 forwards;
}

#storyBullet4 {
    opacity: 0;
    animation:  fadeIn 2s normal 16s 1 forwards;
}

#storyBullet5 {
    opacity: 0;
    animation:  fadeIn 2s normal 21s 1 forwards;
}

#storyBullet6 {
    opacity: 0;
    animation:  fadeIn 2s normal 26s 1 forwards;
}

#storyBullet7 {
    opacity: 0;
    animation:  fadeIn 2s normal 31s 1 forwards;
}

/* ANIMATION WHICH MAKES STORY BULLET POINT APPEAR */
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* ANIMATION WHICH MAKES STORY BULLET POINT APPEAR */
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#info {
    position:absolute;
    top:19vh;
    left:86.7vw;
    width:12vw;
    text-align: justify;
    padding:0;
    font-size:0.78rem;
    font-weight:bold;
    color:#406ca4;
}

#landscapePrompt {
    opacity:0;
}

@media only screen and (orientation:portrait) {
    #bodyContainer{
        background-image: url('./bgmobile.png');
        background-size: 100% 100%;
    }
    #VBform{
        min-height: 25vh;
        max-height: 25vh;
        width:65vw;
        margin-left:12%;
        margin-top:7%;
    }
    #storyPhotosDiv {
        height:20vh;
        margin:12.5% auto;
    }
    .storyBullet{
        display:flex;
        margin:0;
        align-items: center;
        position:absolute;
        text-align:center;
        font-size:1.5rem;
        height:20vh;
        font-weight: bolder;
    }
    #storyText1 {
        font-weight: bold;
    }
    #storyBullet1{
        animation:  fadeIn 2s normal 3s 1 forwards,
                    fadeOut 2s normal 6s 1 forwards;
    }   
    
    #storyBullet2 {
        opacity: 0;
        animation:  fadeIn 2s normal 6s 1 forwards,
                    fadeOut 2s normal 10s 1 forwards;
    }

    #storyBullet3 {
        opacity: 0;
        animation:  fadeIn 2s normal 10s 1 forwards,
                    fadeOut 2s normal 15s 1 forwards;
    }

    #storyBullet4 {
        opacity: 0;
        animation:  fadeIn 2s normal 15s 1 forwards,
                    fadeOut 2s normal 20s 1 forwards;   
    }
    #storyBullet5 {
        opacity: 0;
        animation:  fadeIn 2s normal 20s 1 forwards,
                    fadeOut 2s normal 25s 1 forwards;
    }
    #storyBullet6 {
        opacity: 0;
        animation:  fadeIn 2s normal 25s 1 forwards,
                    fadeOut 2s normal 30s 1 forwards;
    }
    #info {
        position:absolute;
        top:4.5vh;
        left:81vw;
        width:17vw;
        font-size:1.1rem;
    }
    #landscapePrompt {
        opacity:1;
        position:absolute;
        background-color: white;
        border: 1px solid black;
        border-radius: 5%;
        width:50%;
        left: 25%;
        top:35%;
        font-size: 36px;
    }
}

@media only screen and (max-device-height:3000px) {
    #fullStoryDiv {
        font-size: 0.7rem;
    }
    .storyBullet {
        font-size: 0.7rem;
    }
    #info {
        position:absolute;
        top:22vh;
    }
    #storyText1 {
        font-size:1.4rem;   
        width:38.5rem;
    }
    @keyframes animated-text{
    from{width:0;}
    to{width: 38.5rem;}
    }
    #storyPhotosDiv {
        padding-bottom:10px;
    }
}